name: ToyFlightSimulator macOS Build > main

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build macOS App ToyFlightSimulator
    runs-on: macos-26
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Verify Xcode version
        run: xcodebuild -version

      - name: Verify Swift version
        run: swift --version

      - name: Build macOS App
        run: xcodebuild build -project ToyFlightSimulator.xcodeproj -scheme ToyFlightSimulator\ macOS -sdk macosx -configuration Debug CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO

      # - name: Run Unit Tests (macOS)
      #   run: xcodebuild test -project ToyFlightSimulator.xcodeproj -scheme ToyFlightSimulator\ macOS -sdk macosx -configuration Debug CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
